* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{background-color: #1a1a1a;}
 
header{background-color: #000;}

h1{color: white;
margin-left: 2rem;}

.cards{display: flex;

/* height: 1000px; */
border: 5px solid black;
margin-left: 6rem;
background-color: #4b4b4b;
}

#nav-1{display: flex;
    /* width: 300px;
    height: 500px; */
    color: white;
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
    word-spacing: 20px;
    
}
aside{background-color: white;
margin-top: 5rem;
width: 7rem;}

nav{text-align: center;
padding-top: 1rem;
}

.card{
display: flex;}
.subcard{padding: 2px 16px;}

section{display: flex;
flex-wrap: wrap;
}
p{color: white;}

#card-2{display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;}

.carduri{
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
padding-left: 2rem;
padding-top: 1rem;

}

@media  (max-width: 600px) { #card-2 { flex-direction: column;}}